body {
    font-family: "Roboto", sans-serif;
}

ul {
list-style-type: none;
}

a {
    text-decoration: none;
}
/* #region header */



.logo {
    width: 115px;
    height: 24px;
    top: 24px;
    left: 156px;
}

.head-text {
    color: #2E2F42;
    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    letter-spacing: 2%;
}
.emeil {
    width: 153px;
    height: 24px;
}

.number {
width: 151px;
height: 24px;
}
/* #endregion header */

/* #region section1 */

.main-section {
    background-color: #2E2F42;
}
.main-head {
    width: 496px;
    height: 120px;
}
.button {
    width: 105px;
    height: 24px;
    background-color: #4D5AE5;
}

/* #endregion section1 */

/* #region section2 */
.step {
    width: 264px;
    height: 24px;
}
.step-p {
    width: 264px;
    height: 72px;
}

/* #endregion section2 */

/* #region section3 */
.our-team-section {
    background-color: #E7E9FC;
}
.our-team-title {
    width: 162px;
    height: 40px;
}

.our-team-img {
    width: 264px;
    height: 260px;
}

/* #endregion section3 */




