body {
    font-family: "Roboto", sans-serif;
}

ul {
list-style-type: none;
}

a {
    text-decoration: none;
}
/* #region header */



.logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700px;
   font-size: 18px;
   line-height: 21px;
   text-transform: uppercase;
   color: #4d5ae5 ;
   line-height: 1.17;
   letter-spacing: 0.03em;
   
}
span {
    color: #2e2f42;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.head-text {
    color: #2E2F42;
    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    letter-spacing: 2%;
}
.a-studio {
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;
}
a:hover, a:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
}
.emeil {
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
}
.number {
     font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
}
a:hover, a:focus {
    color: #404bbf ;
}

.number {
width: 151px;
height: 24px;
}
/* #endregion header */

/* #region section1 */

.main-section {
    background-color: #2E2F42;
}
.main-head {
    width: 496px;
    height: 120px;
}
.button {
    width: 105px;
    height: 24px;
    background-color: #4D5AE5;
}

/* #endregion section1 */

/* #region section2 */
.step {
    width: 264px;
    height: 24px;
}
.step-p {
    width: 264px;
    height: 72px;
}

/* #endregion section2 */

/* #region section3 */
.our-team-section {
    background-color: #E7E9FC;
}
.our-team-title {
    width: 162px;
    height: 40px;
}

.our-team-img {
    width: 264px;
    height: 260px;
}

/* #endregion section3 */




