

ul {
list-style-type: none;
}

a {
    text-decoration: none;
}
/* #region section1 */
.main-section {
    background-color: #2E2F42;
}
.main-head {
font-family: "Roboto", sans-serif;
color: #FFFFFF;
}
.button {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    background-color: #4D5AE5;
}





/* #endregion section1 */